h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.topLeft {
    border: none;
}

.topCenter {
    border-top: none;
}

.topRight {
    border: none;
}

.middleLeft {
    border-left: none;
}

.middleRight {
    border-right: none;
}

.bottomLeft {
    border: none;
}

.bottomCenter {
    border-bottom: none;
}

.bottomRight {
    border: none;
}